<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="/img/nighthost.png" width="320" alt="Hydrox">
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">Hydrox</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Best Discord Bot To Speed Up Your Discord Server!</p>
        <br>
        <a class="link-button" href="https://discord.com/api/oauth2/authorize?client_id=882311254423765012&permissions=8&scope=bot">Invite Me!</a>
        <a class="yt-link" href="https://www.youtube.com/watch?v=qQab-oRY8gk&ab_channel=Sakshyam">How to use ?</a>
      </div>
    </div>
    <br>
    </center>
</section>